# Cosas que no deben ir al contexto de build
.git
.gitignore
.gitattributes
.github

.vscode
.idea
*.iml

target
release
.mvn/wrapper/maven-wrapper.jar

README*
docs

Dockerfile
docker-compose*.yml
.dockerignore

.DS_Store
Thumbs.db

*.log
.env
.env.*
application-local.yml
application-local.properties
